@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;    
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #202124;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

nav .logo a{
    font-style: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease-in-out
}

nav .logo a:hover {
    color: aquamarine;
}

.navlinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 0.75rem;
    color: white;
    transition: 0.3s ease-in-out;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: aquamarine;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.shadow {
    position: absolute;
    box-shadow: 0 0 1000px 50px aquamarine;
    z-index: -100;
}

.shadow2 {
    position: absolute;
    right: 0;
    box-shadow: 0 0 1000px 50px #0ff;
    z-index: -100;
}

.shadow3 {
    position: absolute;
    left: 20%;
    box-shadow: 0 0 1000px 50px #9fbb88;
    z-index: -100;
}

.shadow4 {
    position: absolute;
    right: 20%;
    box-shadow: 0 0 1000px 50px #0f0;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h1 {
    margin-bottom: 1rem;
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

header .content h4 {
    margin-bottom: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}
header .content p {
    color: white;
    margin-bottom: 2rem;
} 

header .portrait {
    position: relative;
}

.portrait img {
    width: 400px;
    height: 400px;
    margin-left: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 0 2px aquamarine;
}

section .header {
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    font-size: 2rem;
}

.information {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.information .tile {
    padding: 1rem;
    transition: all 0.3s ease;
    background-color: #27272a;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: shadow(5px);
    -webkit-backdrop-filter: shadow(5px);
}

.information .tile:hover {
    box-shadow: 0 0 0 2px aquamarine;
}

.information .tile h4 {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.2rem;
}

.information .tile p {
    color: #ccc;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.information .tile a {
    font-size: 1.4rem;
    transition: 0.3s ease-in-out;
    color: #fff;
}

.information .tile a:hover {
    color:#ccc
}

.projects{
    text-align: center;
    list-style: none;
    margin-bottom: 1rem;
    padding: 1rem;
    border-bottom: 1px solid grey;
    color: #ccc;
    transition: all 0.3s ease-in-out
}

.projects:hover {
    border-bottom: 1px solid rgba(127,255,212,1);
    cursor: pointer;
}

.socialmedia {
    display: flex;
    justify-content: center;
}

.socialmedia img {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 35px;
    transition: 0.1s all ease-in-out;
}

.socialmedia img:hover {
    transform: scale(0.9);
}

.check {
    bottom: 0;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.check:hover {
    border: 2px solid #fff;
    cursor: pointer;
}

@media (max-width: 900px) {
    .navlinks {
        display: none;
    }
    header {
        grid-template-columns: repeat(1, 1fr);
    }
    header .portrait {
        grid-area: 1/1/2/2;
    }
    .information {
        grid-template-columns: repeat(1, 1fr);
    }
    .portrait img {
        width: 400px;
        height: 400px;
        margin-left: 7rem;
        border-radius: 50%;
        box-shadow: 0 0 0 2px aquamarine;
    }
}

@media (max-width: 600px) {
    .content{
        
        max-width: 500px;
    }

    .portrait img {
        width: 300px;
        height: 300px;
        margin-left: 0rem;
        border-radius: 50%;
        box-shadow: 0 0 0 2px aquamarine;
    }

}
